<header>
    <img src="img/ctLogo.png" id="logo" alt="logo">

    <!-- Uses a list to display the navbar -->
    <nav>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/aboutme">About Me</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/projects"></i>Projects</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/services"></i>Services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact"></i>Contact</a>
            </li>
        </ul>
    </nav>
</header>

<main>

<!-- navbar partial -->