<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Welcome to the <%= title %> page</h1>

            <!-- Contains all paragraph titles and headers -->
            <div id="paraContainer">
                <h2>How did I get into progamming?</h2>
                <p>
                    Ever since I was young, I had a keen interest in computers and technology in general. Although it didn't account
                    to much of my experience, I had fun tinkering with gadgets and I was very curious on how certain technologies worked.
                    It was during the pandemic, however, when I started to dig deeper and learn my first programming language - Python, 
                    through the help of YouTube tutorials. From there, I explored numerous applications of programming - and that is how
                    I got to where I am today.
                </p>

                <h2>My Experience</h2>
                <p>
                    As previously stated, I started my journey by learning Python. For around a year an a half (2020 - 2021), I focused on
                    it and became proficient at it. After some time (around 2022), I was able to do small personal projects about specific areas 
                    like Artificial Intelligence. This includes Natural Language Processing (NLP), Computer Vision (CV) and Forecasting.
                    Besides software, I also have limited experience in hardware, specifically using the Raspberry Pi Pico. 
                </p>
                <p>
                    To further expand my knowledge and satisfy my need for growth in the industry, I decided to take Software engineering
                    Technology at Centennial College (Toronto, ON). So far, this has allowed me to learn new things including Requirements
                    engineering and programming languages like C#, JavaScript, SQL, and Java. I was also able to learn administrative 
                    skills using UNIX/Linux.
                </p>
                <p>
                    I am fully aware that this is just the beginning, and there will never be a time where learning stops. I am eager to 
                    learn and improve, and that is why I am opening myself to new opportunities and challenges.
                </p>
            </div>
            
            <!-- Buttons for going back, forward, and downloading my resume -->
            <div class="button">
                <a href="/"><button class="custom-button">Home</button></a>
                <a href="/CarloToledo_SoftEngResume.pdf" download><button class="custom-button">Download my Resume</button></a>
                <a href="/projects"><button class="custom-button">My Projects</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>

