<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Welcome to the <%= title %> page</h1>

            <div class="boxContainer">
                <div class="box">

                    <form action="/submit" method="post">

                        <label for="firstName">First Name</label><br>
                        <input type="text" class="input" id="firstName" name="firstName" required><br><br>
                        
                        <label for="lastName">Last Name</label><br>
                        <input type="text" class="input" id="lastName" name="lastName" required><br><br>
                        
                        <label for="contactNumber">Contact Number</label><br>
                        <input type="tel" class="input" id="contactNumber" name="contactNumber" required><br><br>
                        
                        <label for="email">Email Address</label><br>
                        <input type="email" class="input" id="email" name="email" required><br><br>
                        
                        <label for="message">Message:</label><br>
                        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
                        
                        <input type="submit" value="Submit">

                    </form>

                </div>
                
                <div class="box">
                    <div id="paraContainer">
                        <h2 class="title">For more details, you can contact me through the <br>following channels:</h2>
                        <p>
                            <br>
                            Text Message <br> (365) 378 1438 <br><br>
                            E-Mail <br> ctoledocarlo@gmail.com <br><br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="button">
                <a href="/services"><button class="custom-button">Services</button></a>
                <a href="/"><button class="custom-button">Return To Home</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
