<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Thank you for contacting me! <br> I'll get back to you as soon as I can.</h1>

            <div class="button">
                <a href="/"><button class="custom-button">Home</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
