<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Hello, My name is Carlo and <br>I am an aspiring Software Engineer!</h1>

            <!-- id container allows my picture and text to be right beside each other -->
            <div id="container">
                <img src="img/myPicture.jpg" alt="">
                <p>
                    I am a passionate and aspiring software engineer on a mission to explore the exciting world of technology 
                    and software development.  I believe that the power of code can reshape our world, and I am committed to 
                    being a part of that change. Whether it's developing innovative applications, solving complex problems, or 
                    collaborating with fellow developers, I thrive in the dynamic and ever-evolving landscape of software engineering.
                </p>
            </div>

            <!-- Button for going to the next page. Allows the user the convenience of not 
                scrolling up to the navbar to go to the next page -->
            <div class="button">
                <a href="/aboutme"><button class="custom-button">About Me</button></a>
            </div>

<%- include ('partials/footer.ejs') %>
