<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Welcome to the <%= title %> page</h1>
            
            <h2 class="projectTitle">Bugs Kingdom Tower Defense</h2> 
            <div id="container">
                <img src="img/bugsDefense.png" alt="">
                <p>
                    This is a project that I had in my first semester at Centennial College. Together with my groupmates, we were able to
                    make a complete game using the Unity game engine and C#. This is a tower defense game where the player has to place 
                    towers to kill the enemies. If the player survives until "Day 10", then the player wins. However, if the player gets
                    overrun by the enemies, they die and lose the game. <br>
                    (Note: I was in Game Programming program for my first semester and switched to Software Engineering Technology later on).
                </p>
            </div>

            <h2 class="projectTitle">Telegram Chatbot</h2>
            <div id="container">
                <img src="img/telegramBot.jpg" alt="">
                <p>
                    This is a chatbot that I made for a company that I used to work at. It is made using Python's telegram bot module.
                    The purpose of this chatbot is to automate reminders for employees and allow the users to send certain commands
                    to do certain tasks. It uses Replit as a host (https://replit.com/) to keep the chatbot running at all times.
                    The same site that allows me to run this website for free.
                </p>
            </div>

            <h2 class="projectTitle">This   Website</h2>
            <div id="container">
                <img src="img/motivateMeBot.png" alt="">
                <p>
                    This is a simple twitter bot that uses Python's twitter module and API to send and recieve data. This also uses an API 
                    that gets random motivational quotes. Once the quote is retrieved, it is sent through twitter's client and is posted
                    automatically. This happens every few hours. This project allowed me to go deeper into APIs and their 
                    functionalities.
                </p>
            </div>

            <div class="button">
                <a href="/aboutme"><button class="custom-button">About Me</button></a>
                <a href="/services"><button class="custom-button">Services</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
