<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Welcome to the <%= title %> page</h1>
            
            <h2 class="projectTitle">Game Programming</h2> 
            <div id="container">
                <img src="img/unity.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <h2 class="projectTitle">Web Development</h2>
            <div id="container">
                <img src="img/webDev.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <h2 class="projectTitle">General Programming</h2>
            <div id="container">
                <img src="img/genProgramming.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <div class="button">
                <a href="/projects"><button class="custom-button">My Projects</button></a>
                <a href="/contact"><button class="custom-button">Contact Me</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
