<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <img src="img/ctLogo.png" id="logo" alt="logo">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav ml-auto"> <!-- Changed class to ml-auto for right alignment -->
                            <% if (title=="Home"){%>
                                <li class="nav-item active">
                            <%}else{%>
                                <li class="nav-item">
                            <%}%>
                                <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i>Home</a>
                            </li>
                            <% if (title=="About Me"){%>
                                <li class="nav-item active">
                            <%}else{%>
                                <li class="nav-item">
                            <%}%>
                                <a class="nav-link" href="/aboutme"><i class="fa-solid fa-address-card"></i>About Me</a>
                            </li>
                            <% if (title=="Contact"){%>
                                <li class="nav-item active">
                            <%}else{%>
                                <li class="nav-item">
                            <%}%>
                                <a class="nav-link" href="/projects"><i class="fa-solid fa-address-book"></i>Projects</a>
                            </li>
                            <% if (title=="Projects"){%>
                                <li class="nav-item active">
                            <%}else{%>
                                <li class="nav-item">
                            <%}%>
                                <a class="nav-link" href="/services"><i class="fa-brands fa-product-hunt"></i>Services</a>
                            </li>
                            <% if (title=="Services"){%>
                                <li class="nav-item active">
                            <%}else{%>
                                <li class="nav-item">
                            <%}%>
                                <a class="nav-link" href="/contact"><i class="fa-brands fa-servicestack"></i>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <h1 id="introduction">Welcome to the <%= title %> page</h1>
            
            <h2 class="projectTitle">Game Programming</h2> 
            <div id="container">
                <img src="img/unity.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <h2 class="projectTitle">Web Development</h2>
            <div id="container">
                <img src="img/webDev.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <h2 class="projectTitle">General Programming</h2>
            <div id="container">
                <img src="img/genProgramming.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Arcu dictum varius duis at consectetur lorem donec massa sapien. Eu augue ut lectus 
                    arcu bibendum at varius vel. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue ut lectus 
                    arcu bibendum at varius vel. Non sodales neque sodales ut etiam sit. Sed vulputate odio ut enim blandit volutpat 
                    maecenas. Id interdum velit laoreet id donec ultrices tincidunt.
                </p>
            </div>

            <div class="button">
                <a href="/projects"><button class="custom-button">My Projects</button></a>
                <a href="/contact"><button class="custom-button">Contact Me</button></a>
            </div>
        </main>

        <footer>
        </footer>
            
    </body>
</html>
