<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Welcome to the <%= title %> page</h1>
            
            <!-- id container allows the image and text to be right beside each other. Repeat this structure multiple times for a 
                 picture and paragraph pair -->

            <h2 class="projectTitle">Game Programming</h2> 
            <div id="container">
                <img src="img/unity.png" alt="">
                <p>
                    I am highly proficient in Unity game development, with extensive experience in designing, developing, 
                    and optimizing interactive and visually appealing games. Through a combination of formal education and hands-on projects,
                    I have built a solid foundation in Unity that enables me to bring creative game ideas to life effectively and efficiently.
                </p>
            </div>

            <h2 class="projectTitle">Web Development</h2>
            <div id="container">
                <img src="img/webDev.jpg" alt="">
                <p>
                    I possess a strong proficiency in the fundamental building blocks of web development, namely HTML, CSS, and JavaScript. 
                    These core technologies enable me to design and create visually appealing and interactive web applications. 
                    My experience with these languages has allowed me to build functional and user-friendly websites. However, 
                    I am continually expanding my knowledge and skills in web development by delving into more advanced concepts, 
                    such as database management and server-side programming. 
                </p>
            </div>

            <h2 class="projectTitle">General Programming</h2>
            <div id="container">
                <img src="img/genProgramming.png" alt="">
                <p>
                    I possess a strong proficiency in a diverse range of programming languages, including JavaScript, C#, Java, 
                    SQL, and UNIX/Linux. I have honed my skills through extensive experience and dedicated learning, allowing me 
                    to confidently navigate and manipulate these languages to meet the demands of various software development 
                    and system administration tasks. 
                </p>
            </div>

            <!-- Button for going to the next page. Allows the user the convenience of not 
                scrolling up to the navbar to go to the next page -->
            <div class="button">
                <a href="/projects"><button class="custom-button">My Projects</button></a>
                <a href="/contact"><button class="custom-button">Contact Me</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
